
header.header {
	min-width: 1080px;

}

header.header .base-nav-landing {
	background-color: #fff;
	border-bottom: 1px solid #e0e0e0;
}

header.header .container {
	width: 1080px;
}

header.header .base-nav-landing .nav-logo-wrapper {
	background: url("http://drive.google.com/uc?export=view&id=1j8TVBZn3TezSG8uSzEKMETatd0Xb3NQr") 10px 22px/80px 20px no-repeat;
}

.container {
	width: 1080px;
	margin: 0 auto;
}

.container::after {
	content: '';
    display: table;
    clear: both;
}


a {
    text-decoration: none;
    color: #212121;
}

header.header .base-nav-landing .right-nav {
	padding-top: 16px;
	padding-bottom: 15px;
}

.btn-gray {
	background-color: #a1a6ad;
	color: #fff;
}

.btn-4-16 {
	padding: 4px 16px;
}

.btn {
	cursor: pointer;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border-radius: 4px;
    border: none;
}

.btn-wishket {
	background-color: #2099bb;
    color: #fff;
    border: #2099bb;
}

.gaia { 
	min-width: 1080px;
    height: auto;
    min-height: 70%;
}

body.landing .introduction {
	padding: 64px 0 52px;
	background-color: #fff;
}

body.landing .number-show {
	padding: 52px 0;
    background-color: #f7fafc;
}

body.landing .project-finder {
	background-color: #fff;
    padding: 80px 0 100px;
}

body.landing .ask-freelancer {
	padding: 36px 0;
    background-image: url(http://drive.google.com/uc?export=view&id=1ur_ydCqblNmSKbNc_JKxNLG5njXjQgtf);
    background-repeat: no-repeat;
    background-size: 100% 120px;
}

body.landing .process-guide {
	background-color: #f7fafc;
    padding: 80px 0 100px;
}

body.landing .appeal-point {
    background-color: #fff;
    padding: 80px 0 100px;
}

body.landing .user-review {
	background-color: #f7fafc;
    padding: 80px 0 100px;
}

body.landing .client-list {
	background-color: #fff;
    padding: 80px 0 80px;
}

body.landing .last-chance {
	padding: 88px 0 92px;
    background-image: url(http://drive.google.com/uc?export=view&id=1xwWZK1v8VdzpsOfio80B9aGr7GNnGFe-);
    background-position: center center;
    background-size: cover;
}

body.landing .introduction .introduction-guide {
	padding-top: 32px;
    float: left;
    width: 360px;
    margin-right: 80px;
}

body.landing .introduction .introduction-guide .guide-title {
	margin-bottom: 16px;
}


body.landing .introduction .introduction-guide .guide-body {
	margin-bottom: 32px;
    color: #616161;
}

body.landing .introduction .introduction-img {
	float: right;
}

body.landing .number-show .show-box {
	width: 180px;
    margin-right: 120px;
    float: left;
}

body.landing .number-show .show-box .show-box-image {
	margin-top: 6px;
}

body.landing .number-show .show-box .target-number {
	margin-bottom: 2px;
}

body.landing .number-show .show-box .target-number-guide {
	color: #616161;
}

body.landing .number-show .show-box:last-child {
	margin-right: 0;
}

.title-2-light {
	font-weight: 300;
}

.title-2-bold {
	font-weight: 700;
}

.body-1-bold {
	font-weight: 700;
}


body.landing .project-finder .project-finder-nav {
	margin-top: 60px;
    border-bottom: 1px solid #e0e0e0;
}

body.landing .project-finder .project-finder-nav::after {
	content: '';
    display: table;
    clear: both;
}

body.landing .project-finder .project-finder-nav .project-finder-nav-link.active {
	color: #212121;
    font-weight: bold;
    border-bottom: 2px solid #212121;
    margin-bottom: -1px;
}

body.landing .project-finder .project-finder-nav .project-finder-nav-link {
	color: #616161;
    padding-top: 16px;
    padding-bottom: 16px;
    float: left;
    cursor: pointer;
}

body.landing .project-finder .project-finder-nav .project-finder-nav-link+.project-finder-nav-link {
	margin-left: 40px;
}

body.landing .project-finder .project-finder-list {
	margin-top: 25px;
}

body.landing .project-finder .project-finder-list .project-finder-card {
	margin-bottom: 24px;
    margin-right: 24px;
    float: left;
    padding: 20px 24px 24px;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,0.16);
    border-radius: 4px;
}

body.landing .project-finder .project-finder-list .project-finder-card .project-finder-link {
	display: block;
    color: #2099bb;
    max-width: 480px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

body.landing .project-finder .project-finder-list .project-finder-card .project-number-info {
	margin-top: 8px;
    margin-bottom: 16px;
}

body.landing .project-finder .project-finder-list .project-finder-card .project-number-info .project-finder-number-data {
	color: #424242;
}

body.landing .project-finder .project-finder-list .project-finder-card .project-number-info .project-finder-number-data+span {
    color: #e0e0e0;
    margin-left: 6px;
    margin-right: 6px;
    font-weight: lighter;
}

body.landing .project-finder .project-finder-list .project-finder-card .project-description {
    width: 480px;
    color: #616161;
    height: 48px;
    margin: 0 auto 16px;
    line-height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
}

body.landing .project-finder .project-finder-list .project-finder-card .project-skill-info {
	height: 20px;
}

.label-skill {
	border-radius: 4px;
    background-color: #eee;
    padding: 1px 8px;
    display: inline-block;
    font-size: 12px;
    line-height: 18px;
    color: #616161;
    margin-right: 8px;
}

body.landing .project-finder .project-finder-list .project-finder-card:nth-child(2) {
	margin-right: 0;
}

body.landing .project-finder .project-finder-list .project-finder-card:nth-child(3) {
	margin-bottom: 0;
}

body.landing .project-finder .project-finder-list .project-finder-card:nth-child(4) {
	margin-right: 0;
    margin-bottom: 0;
}


body.landing .ask-freelancer .freelancer-signup-guide {
	margin: 0 auto;
    width: 680px;
}

body.landing .ask-freelancer .freelancer-signup-guide .guide-text {
	float: left;
    margin-top: 6px;
    color: #fff;
}

.subtitle-1-light {
    font-weight: 300;
}

body.landing .ask-freelancer .freelancer-signup-guide .guide-btn {
	float: right;
}

.btn-white-wishket {
	background-color: #fff;
    color: #2099bb;
}

/* process
body.landing .process-guide .process-guide-box {
    width: 1080px;
    overflow-x: hidden;
}

body.landing .process-guide .process-guide-box .process-opacity-gradient-box {
    display: none;
    cursor: pointer;
    height: 532px;
    width: 320px;
    margin-top: 75px;
    content: "";
    position: absolute;
    margin-left: 1080px;
    z-index: 1;
    background: linear-gradient(to left, #f7fafc, rgba(247,250,252,0.7), rgba(247,250,252,0));
}

body.landing .process-guide .process-guide-box .process-guide-content-list {
    padding-top: 155px;
    margin-right: -500%;
    overflow: hidden;
}

body.landing .process-guide .process-guide-box .process-guide-nav {
    margin-top: -80px;
    margin-right: -100%;
    position: absolute;
}

body.landing .process-guide .process-guide-box .process-guide-content-list .process-guide-content {
    margin-left: 1px;
    background-color: #fff;
    border-radius: 8px;
    float: left;
    margin-bottom: 8px;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,0.1);
}

body.landing .process-guide .process-guide-box .process-guide-nav .process-line.active {
    border-color: #2099bb;
}

body.landing .process-guide .process-guide-box .process-guide-nav .process-line.line-0 {
    width: 100px;
}

body.landing .process-guide .process-guide-box .process-guide-nav .process-line {
    float: left;
    border-top: 2px solid #e0e0e0;
}

body.landing .process-guide .process-guide-box .process-guide-nav .process-line.line-1,
body.landing .process-guide .process-guide-box .process-guide-nav .process-line.line-2,
body.landing .process-guide .process-guide-box .process-guide-nav .process-line.line-3,
body.landing .process-guide .process-guide-box .process-guide-nav .process-line.line-4 {
    width: 220px;
}

body.landing .process-guide .process-guide-box .process-guide-nav .process-line.line-5 {
    width: 100px;
}

*/

body.landing .appeal-point {
    background-color: #fff;
    padding: 80px 0 100px;
}

body.landing .appeal-point .appeal-box-group {
    padding-top: 60px;
}

body.landing .appeal-point .appeal-box-group .appeal-box.with-mb {
    margin-bottom: 80px;
}

body.landing .appeal-point .appeal-box-group .appeal-box {
    width: 320px;
    float: left;
}

body.landing .appeal-point .appeal-box-group .appeal-box+.appeal-box {
    margin-left: 60px;
}

body.landing .appeal-point .appeal-box-group .appeal-box:nth-child(4) {
    margin-left: 0;
}

body.landing .appeal-point .appeal-box-group .appeal-box .appeal-image {
    margin-bottom: 12px;
}

body.landing .last-chance .last-chance-guide {
    text-align: center;
    color: #fff;
    margin-bottom: 32px;
}

